@media all screen
and (max-width : 320px){}
/* Smartphones (landscape) ----------- */
@media all screen
and (min-width : 321px) {}
/* Your Styles */
/* On screens with a maximum window width of 1280px */
@media screen and (max-width: 1280px){}
/* On all screen types with a window width of between 1024px and 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px){}
/* On TVs */
@media tv
/* On all vertically oriented types of screens */
@media all and (orientation: portrait){}


body {
	margin:30;
	font-family: Arial, Helvetica, sans-serif;
	background-color:lightblue;
	font-color:white;
}

p{
   font-style: italic;
   font-color:white;
}

.header {
	padding: 10px 16px;
	background: green;
	color: #f1f1f1;
	font-style: italic;
	font-color:white;
}

a.links {
	text-decoration: none;
	border: 2px solid black;
	background-color: black;
	color: white;
	padding: 4px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
	
#map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
